<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/home.css" type="text/css">
</head>
<body>

<main>

    <div id="wrapper1">
        <h1> Welcome to the Car Park Management System</h1>
        <nav id="nav">
            <ul>
                <li><a href="home.html" class="anchor"> HOME </a></li>
                <li><a href="signIn.html" class="anchor"> LOGIN IN </a></li>
            </ul>
        </nav>
        <img id="mainImage" src="../static/img/parking_lot.jpg" id="logo" height="300" width="500">
    </div>

</main>

</body>
</html>